<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Create a Celebrity</a>
<br>
<a href="/celebrities/celebrities">Celebrities</a>
<br>
<a href="/movies/movies">Movies &#127916;</a>